html {

  scroll-behavior: smooth;

}

.navigation {

    height: auto;
    
    background-color: rgb(64, 157, 238);

    overflow: hidden;

}

.navigation a {

    float: left;

    color: rgb(255, 255, 255);

    font-size: 24px;

    font-family: monospace;

    padding: 24px;

    text-decoration: none;

}

.navigation a:hover {

    color: rgb(255, 221, 28);

}

.navigation a.active {

    color: rgb(255, 245, 112);

}

body {

    text-align: left;

    background-color: rgb(220, 242, 255);

}

h1 {

    font-family: monospace;

    font-size: 120px;

    color: rgb(79, 125, 168);

    margin-top: 10px;

    margin-bottom: -30px;

}

p {

    font-family: Calibri;

    font-size: 30px;

    color: rgb(5, 49, 90);

}

.row {

    display: flex;

    flex-wrap: wrap;

    padding: 0 4px;

}

.column {
    
    flex: 20%;

    padding: 0 4px;

}

.column img {
    
    margin-top: 8px;

    vertical-align: middle;

    max-width: 100%;

    height: auto;

    border-radius: 5px;

}

hr {

    background-color: rgb(10, 32, 92);

    height: 6px;

    width: 30%;

    margin-left: 0px;

    border: none;

}

h2 {

    font-family: Georgia;

    font-size: 80px;

    color: rgb(10, 32, 92);

    margin-top: 10px;

    margin-bottom: 5px;

}

h3 {

    font-family: Courier;

    font-size: 50px;

    color: rgb(32, 95, 155);

    margin-top: -5px;

    margin-bottom: 5px;

}

button {

    background-color: transparent;
    
    border: none;

    font-size: 40px;

    color: rgb(79, 125, 168);

    cursor: pointer;

}

button:hover {

    color: rgb(255, 221, 28);

}

.bobaoverlay {

    background-color: rgba(203, 231, 255, 0.9);

    padding: 15px;

    border-radius: 20px;

}